<body>    
    <div class="wrapper collapsed">
        <div class="top_navbar">
            <div class="hamburger">
                <div class="one"></div>
                <div class="two"></div>
                <div class="three"></div>
            </div>
            <div class="top_menu">
                <div class="logo">
                    {{title1}}
                </div>
                <ul>
                    <!-- <li><a href="#">
                            <i class="fas fa-search"></i>
                        </a></li> -->
                        <li><a (click)="router.navigate(['/vendprofile']);">
                            <i class="fas fa-user"></i>
                        </a></li>
                        <li><a (click)="logout()">
                            <i class="fas fa-sign-out-alt" id="btn-logout"></i>
                        </a></li>
                </ul>
            </div>
        </div>

        <div class="sidebar">
            <ul>
                <li><a (click)="router.navigate(['/venddashboard']);">
                    <span class="icon"><i class="fas fa-tachometer-alt"></i></span>
                    <span class="title">Dashboard</span>
                </a></li>
            <li>
                <!-- <button class="dashsan" (click)="router.navigate(['/custfinancesheet']);"> -->
                <a (click)="router.navigate(['/vendfinancesheet']);" class=active>
                    <span class="icon"><i class="fa fa-calculator" aria-hidden="true"></i></span>
                    <span class="title">Financial Sheet</span>
                </a>
                <!-- </button> -->
            </li>
            <li>
                <a (click)="router.navigate(['/vendprofile']);">
                    <span class="icon"><i class="fa fa-user"></i></span>
                    <span class="title">Profile</span>
                </a>
            </li>
            <li><a href="https://www.kaartech.com/contact-us/" target="_blank">
                <span class="icon"><i class="fa fa-address-book"></i></span>
                <span class="title">Contact Us</span>
            </a></li>
            </ul>
        </div>

        <div class="main_container">

            <!-- <ng-container *ngIf="show"> -->
                <button class="logsan" (click)="toggle()" id="bt1">
                  {{buttonName}}
                </button>
              <!-- </ng-container> -->

            <ng-container *ngIf="hide">
              <div class="table-wrapper">
                <div class="table-title">
                  <div class="row">
                    <div class="colsan">
                      <h2><b>Total Entries - {{len}}</b></h2>
                      <form method="post">
                        <input type="text" class="form-control" name="SD_DOC" [(ngModel)]="SD_DOC" (ngModelChange)="search()" class="textbox" placeholder="Search">
                        <input title="Search" value="" type="submit" class="button">
                      </form>
                    </div>
                  </div>
                </div>
            
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col" (click)="sort('DOC_NO')">Document Number &nbsp;<i class="fa fa-sort"></i></th>
                        <th scope="col" (click)="sort('DOC_DATE')">Document Date&nbsp;<i class="fa fa-sort"></i></th>
                        <th scope="col" (click)="sort('EBELP')">Document Type</th>
                        <!-- <th scope="col" (click)="sort('VGABE')">Document Date &nbsp;<i class="fa fa-sort"></i></th> -->
                        
                        <th scope="col" (click)="sort('CPUDT')">Company Code</th>
                        <th scope="col" (click)="sort('CPUDT')">Payment Method</th>
                     
                        
                        <th scope="col" (click)="sort('BWART')">Fiscal Year</th>
                        <th scope="col" (click)="sort('AMT_DOCCUR')">Document Currency Amount&nbsp;<i class="fa fa-sort"></i></th>
                        <th scope="col" (click)="sort('LC_AMOUNT')">Local Currency Amount&nbsp;<i class="fa fa-sort"></i></th>
                        <th scope="col" (click)="sort('NET_AMOUNT')">Net Amount&nbsp;<i class="fa fa-sort"></i></th>
                        <th scope="col" (click)="sort('BLINE_DATE')">Baseline Date&nbsp;<i class="fa fa-sort"></i></th>
                        <th scope="col" (click)="sort('BEWTP')">Payment Status</th>
                       
                       </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of header | orderBy : key : reverse | paginate:{itemsPerPage:10,currentPage:p} | filter:SD_DOC" class="">
                       
                       
                        <td>{{item.DOC_NO}}</td>
                        <td>{{item.DOC_DATE}}</td>
                        <td>{{item.DOC_TYPE}}</td>
                        <td>{{item.COMP_CODE | number}}</td>
                        
                        <td>{{item.PYMT_METH}}</td>
                        <td>{{item.FISC_YEAR}}</td>
                        <td>{{item.AMT_DOCCUR}}</td>  
                        <td>{{item.LC_AMOUNT}}</td>
                        <td>{{item.NET_AMOUNT}}</td>
                        <td>{{item.BLINE_DATE}}</td>  
                        <td>Payment Completed</td>
                        
                       
                      </tr>
                </tbody>

               
              </table>
              
              <div class="spinner-border text-danger" style="width:3rem;height:3rem;align-items: center;" role="status" [hidden]="spinner">

            </div>

              <div class="page">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
              </div>
            </ng-container>
            <ng-container *ngIf="show">
                
                <div class="table-wrapper">
                    <div class="table-title">
                      <div class="row">
                        <div class="colsan">
                          <h2><b>Total Entries - {{len1}}</b></h2>
                          <form method="post">
                            <input type="text" class="form-control" name="SD_DOC" [(ngModel)]="SD_DOC" (ngModelChange)="search()" class="textbox" placeholder="Search">
                            <input title="Search" value="" type="submit" class="button">
                          </form>
                        </div>
                      </div>
                    </div>
                
                    <table class="table table-hover">
                        <thead>
                            <tr>
                              <th scope="col" (click)="sort('DOC_NO')">Document Number &nbsp;<i class="fa fa-sort"></i></th>
                              <th scope="col" (click)="sort('DOC_DATE')">Document Date&nbsp;<i class="fa fa-sort"></i></th>
                              <th scope="col" (click)="sort('EBELP')">Document Type</th>
                              <!-- <th scope="col" (click)="sort('VGABE')">Document Date &nbsp;<i class="fa fa-sort"></i></th> -->
                              
                              <th scope="col" (click)="sort('CPUDT')">Company Code</th>
                              <th scope="col" (click)="sort('CPUDT')">Payment Method</th>
                           
                              
                              <th scope="col" (click)="sort('BWART')">Fiscal Year</th>
                              <th scope="col" (click)="sort('AMT_DOCCUR')">Document Currency Amount&nbsp;<i class="fa fa-sort"></i></th>
                              <th scope="col" (click)="sort('LC_AMOUNT')">Local Currency Amount&nbsp;<i class="fa fa-sort"></i></th>
                              <th scope="col" (click)="sort('NET_AMOUNT')">Net Amount&nbsp;<i class="fa fa-sort"></i></th>
                              <th scope="col" (click)="sort('BLINE_DATE')">Baseline Date&nbsp;<i class="fa fa-sort"></i></th>
                              <th scope="col" (click)="sort('DRAWER')">Aging Date&nbsp;<i class="fa fa-sort"></i></th>
                              <th scope="col" (click)="sort('BEWTP')">Payment Status</th>
                               
                               </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of list | orderBy : key : reverse | paginate:{itemsPerPage:10,currentPage:p} | filter:SD_DOC" class="">
                               
                               
                                <td>{{item.DOC_NO}}</td>
                                <td>{{item.DOC_DATE}}</td>
                                <td>{{item.DOC_TYPE}}</td>
                                <td>{{item.COMP_CODE | number}}</td>
                                
                                <td>{{item.PYMT_METH}}</td>
                                <td>{{item.FISC_YEAR}}</td>
                                <td>{{item.AMT_DOCCUR}}</td>  
                                <td>{{item.LC_AMOUNT}}</td>
                                <td>{{item.NET_AMOUNT}}</td>
                                <td>{{item.BLINE_DATE}}</td>  
                                <td>{{item.DRAWER}} days</td>
                                <td>Payment Pending</td>
                                
                               
                              </tr>
                        </tbody>
        
                       
                      </table>
                  
                  <div class="spinner-border text-danger" style="width:3rem;height:3rem;align-items: center;" role="status" [hidden]="spinner">
    
                </div>
    
                  <div class="page">
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>
                  </div>
            </ng-container>
             

        </div>
    </div>

</body>

