<body>    
    <div class="wrapper collapsed">
        <div class="top_navbar">
            <div class="hamburger">
                <div class="one"></div>
                <div class="two"></div>
                <div class="three"></div>
            </div>
            <div class="top_menu">
                <div class="logo">
                   
                    GOODS RECEIPT
                </div>
                <ul>
                    <!-- <li><a href="#">
                            <i class="fas fa-search"></i>
                        </a></li> -->
                        <li><a (click)="router.navigate(['/vendprofile']);">
                            <i class="fas fa-user"></i>
                        </a></li>
                        <li><a (click)="logout()">
                            <i class="fas fa-sign-out-alt" id="btn-logout"></i>
                        </a></li>
                </ul>
            </div>
        </div>

        <div class="sidebar">
            <ul>
                <li><a (click)="router.navigate(['/venddashboard']);" class=active>
                    <span class="icon"><i class="fas fa-tachometer-alt"></i></span>
                    <span class="title">Dashboard</span>
                </a></li>
            <li>
                <!-- <button class="dashsan" (click)="router.navigate(['/custfinancesheet']);"> -->
                <a (click)="router.navigate(['/vendfinancesheet']);">
                    <span class="icon"><i class="fa fa-calculator" aria-hidden="true"></i></span>
                    <span class="title">Financial Sheet</span>
                </a>
                <!-- </button> -->
            </li>
            <li>
                <a (click)="router.navigate(['/vendprofile']);">
                    <span class="icon"><i class="fa fa-user"></i></span>
                    <span class="title">Profile</span>
                </a>
            </li>
            <li><a href="https://www.kaartech.com/contact-us/" target="_blank">
                <span class="icon"><i class="fa fa-address-book"></i></span>
                <span class="title">Contact Us</span>
            </a></li>
            </ul>
        </div>

        <div class="main_container">

            <!-- <nav class="navbar">
                <input class="form-control" type="text" name="SD_DOC" [(ngModel)]="SD_DOC" (ngModelChange)="search()"
                placeholder="Enter first name to search">
              </nav> -->
            <ng-container *ngIf="show">
              <button class="logsan" (click)="toggle()" id="bt1">
                {{buttonName}}
              </button>
            </ng-container>

              <ng-container *ngIf="hide">

              <div class="table-wrapper">
                <div class="table-title">
                  <div class="row">
                    <div class="colsan">
                      <h2><b>Total Entries - {{len}}</b></h2>
                      <form method="post">
                        <input type="text" class="form-control" name="SD_DOC" [(ngModel)]="SD_DOC" (ngModelChange)="search()" class="textbox" placeholder="Search">
                        <input title="Search" value="" type="submit" class="button">
                      </form>
                    </div>
                  </div>
                </div>
            
            <table class="table table-hover">
                <thead>
                    <tr>
    
                        <th scope="col" (click)="sort('MAT_DOC')">Material Document&nbsp;<i class="fa fa-sort"></i></th>
                        <th scope="col" (click)="sort('DOC_YEAR')" >Doc Year  &nbsp;<i class="fa fa-sort"></i></th>
                        <th scope="col" (click)="sort('PSTNG_DATE')">Posting Date &nbsp;<i class="fa fa-sort"></i></th>
                        <th scope="col" (click)="sort('ENTRY_TIME')">Entry Time&nbsp;<i class="fa fa-sort"></i></th>
                        <th scope="col">Type</th>
                        <th scope="col" >Username</th>
                        <th scope="col" >Vendor slip</th>
                        
                       </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of headerarray | orderBy : key : reverse | paginate:{itemsPerPage:10,currentPage:p} | filter:SD_DOC" (click)="onInvoiceClick(item)" class="">
                       
                        <td>{{item.MAT_DOC}}</td>
                        <td>{{item.DOC_YEAR}}</td>
                        <td>{{item.PSTNG_DATE}}</td>
                        <td>{{item.ENTRY_TIME}}</td>
                  
                        <td>{{item.TR_EV_TYPE}}</td>
                        <td>{{item.USERNAME}}</td>
                        <td>{{item.VER_GR_GI_SLIP}}</td>
                     
                       
                      </tr>
                </tbody>

               
              </table>
              
              <div class="spinner-border text-danger" style="width:3rem;height:3rem;align-items: center;" role="status" [hidden]="spinner">

            </div>

              <div class="page">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
              </div>
            </ng-container>

              <ng-container *ngIf="show">
                
              <div class="table-wrapper">
                <!-- <button class="btn btn-danger">Click</button> -->
                <div class="table-title">
                  <div class="row">
                    <div class="colsan">
                      <h2><b>Total Entries - {{len1}}</b></h2>
                      <form method="post">
                        <input type="text" class="form-control" name="SD_DOC" [(ngModel)]="SD_DOC" (ngModelChange)="search()" class="textbox" placeholder="Search">
                        <input title="Search" value="" type="submit" class="button">
                      </form>
                    </div>
                  </div>
                </div>
            
            <table class="table table-hover">
                <thead>
                    <tr>
    
                        <th scope="col" (click)="sort('MAT_DOC')">Material Document</th>
                        <th scope="col" (click)="sort('DOC_YEAR')" >Doc Year</th>
                        <th scope="col" (click)="sort('PSTNG_DATE')">No of Quantity</th>
                        <th scope="col" (click)="sort('ENTRY_TIME')">Movement Type</th>
                        <th scope="col" (click)="sort('TR_EV_TYPE')">Purchase Order</th>
                        <th scope="col" (click)="sort('USERNAME')">Purchase Item</th>
                        <th scope="col" (click)="sort('VER_GR_GI_SLIP')">Currency Type</th>
                        <th scope="col" (click)="sort('ENTRY_TIME')">Plant</th>
                        <th scope="col" (click)="sort('TR_EV_TYPE')">Storage Location</th>
                        <th scope="col" (click)="sort('USERNAME')">Vendor</th>
                        
                       </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of listarray | orderBy : key : reverse | paginate:{itemsPerPage:10,currentPage:p} | filter:SD_DOC" (click)="onInvoiceClick(item)" class="">
                       
                        <td>{{item.MAT_DOC}}</td>
                        <td>{{item.DOC_YEAR}}</td>
                        <td>{{item.ENTRY_QNT}}</td>
                        <td>{{item.MOVE_TYPE}}</td>                
                        <td>{{item.PO_NUMBER}}</td>
                        <td>{{item.PO_ITEM | number}}</td>
                        <td>{{item.CURRENCY}}</td>
                        <td>{{item.PLANT | number}}</td>
                        <td>{{item.STGE_LOC}}</td>
                        <td>{{item.VENDOR}}</td>
                     
                       
                      </tr>
                </tbody>

               
              </table>
              
              <div class="spinner-border text-danger" style="width:3rem;height:3rem;align-items: center;" role="status" [hidden]="spinner">

            </div>

              <div class="page">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
              </div>
            </ng-container>
             

        </div>
    </div>

</body>

