
*{
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}


body{
  background-color: #fff0f0;
  height: 100%;
 
}

.wrapper{
  padding: 0;
  margin: 10px;
  height: 100%;
  background: #fff0f0;
}

.wrapper .top_navbar{
  width: calc(100% - 20px);
  height: 60px;
  display: flex;
  position: fixed;
  top: 10px;
  z-index: 10;
  
}

.wrapper .top_navbar .hamburger{
  width: 70px;
  height: 100%;
  background: #b31734;
  padding: 15px 17px;
  border-top-left-radius: 20px;
  cursor: pointer;
}

.wrapper .top_navbar .hamburger div{
  width: 35px;
  height: 4px;
  background: #db5e76;
  margin: 5px 0;
  border-radius: 5px;
}

.wrapper .top_navbar .top_menu{
  width: calc(100% - 70px);
  height: 100%;
  background: #fff;
  border-top-right-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.wrapper .top_navbar .top_menu .logo{
  color: #b31734;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
}

.wrapper .top_navbar .top_menu ul{
  display: flex;
}

.wrapper .top_navbar .top_menu ul li a{
  display: block;
  margin: 0 10px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border: 1px solid #b31734;
  border-radius: 50%;
  color: #b31734;
}

.wrapper .top_navbar .top_menu ul li a:hover{
  background: #db5e76;
  color: #fff;
}

.wrapper .top_navbar .top_menu ul li a:hover i{
  color: #fff;
}

.wrapper .sidebar{
  position: fixed;
  top: 70px;
  left: 10px;
  background: #b31734;
  width: 200px;
  height: calc(100% - 80px);
  border-bottom-left-radius: 20px;
  transition: all 0.3s ease;
}

.wrapper .sidebar ul li a{
    display: block;
    padding: 20px;
    color: #fff;
    position: relative;
    margin-bottom: 1px;
    color: #db5e76;
    white-space: nowrap;
}

.wrapper .sidebar ul li a:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background: #db5e76;
  display: none;
}

.wrapper .sidebar ul li a span.icon{
  margin-right: 10px;
  display: inline-block;
}

.wrapper .sidebar ul li a span.title{
  display: inline-block;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active{
  background: #db5e76;
  color: #fff;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before{
  display: block;
}

.wrapper .main_container{
  width: (100% - 200px);
  margin-top: 70px;
  margin-left: 200px;
  padding: 15px;
  transition: all 0.3s ease;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

} 
.wrapper .container_left{
  width: (100% - 200px);
  margin-top: 10px;
  margin-left: 10px;
  padding: 10px;
  transition: all 0.3s ease;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.wrapper .main_container .items{
  background: #fff;
  margin: 10px;
  padding: 18px;
  font-size: 14px;
  line-height: 22px;
  display: flex;
  width: 300px;
  height: 200px;
  flex-direction: column;
  border-radius: 6px; 
  transition: all 0.7s ease;
  align-items: center;
  text-align: center;
  justify-content: space-around;

}

.wrapper .items:hover{
  box-shadow: 0 19px 38px rgb(252, 237, 252), 0 15px 12px rgba(0,0,0,0.22);
  margin: 13px;
} 


.wrapper.collapsed .sidebar{
  width: 70px;
}

.wrapper.collapsed .sidebar ul li a{
  text-align: center; 
}

.wrapper.collapsed .sidebar ul li a span.icon{
  margin: 0;
}

.wrapper.collapsed .sidebar ul li a span.title{
  display: none;
}

.wrapper.collapsed .main_container {
  width: (100% - 70px);

  margin-left: 100px;
}
.wrapper .tweets
{
  margin-left: 230px;
  margin-top: 100px;
  display: flex;
  padding: 30px;
  transition: all 0.3s ease;
  
  
}

.wrapper.collapsed .tweets{
  margin-left: 100px;
}

#items{
  height: 100px;
  width: 100px;
}

.icons
{
  width: 95px;
  height: 95px;
 
}
.hoverstyle{
  margin-left: 20px;
}
.hoverstyle:hover{
    margin-left: 25px;
}
audio { 
  width: 300px; 
  box-shadow: 2px 2px 5px rgba(0,0, 0, 0.4);
  margin-left: 5px;
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 90px;
  transform: scale(1.05);
}
p{
  font-weight:600;
  color: #b31734;
}
#btnSearch,
#btnClear{
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 5px;
}
#panel_1 {
  background: #fff;
  padding: 20px 0 40px;
  text-align: center
}

#panel_1 h3 {
  color: #0a2166;
  font-size: 24px;
  font-weight: 400;
  padding: 0 0 5px
}

#number_mod #numbers {
  border-bottom: 3px solid #dfe3e4;
  color: #7f8c8d;
  font-size: 25px;
  font-weight: 600;
  margin: 0 auto 90px;
  text-align: center;
  width: 66%
}

#number_mod #numbers div {
  background: #dfe3e4;
  border-radius: 5px;
  bottom: -25px;
  display: inline-block;
  line-height: 50px;
  margin: 0;
  position: relative;
  width: 50px
}

#number_mod #numbers div:first-child {
  float: left
}

#number_mod #numbers div:nth-child(2){
  float: center
}

#number_mod #numbers div:nth-child(3) {
  float: right
}

#number_mod #modules {
  margin: 0 auto 90px;
  text-align: center;
  width: 85%
}

#number_mod #modules .mod {
  display: inline-block;
  vertical-align: top;
  width: 30%
}

#number_mod #modules .mod img {
  height: 120px;
  margin: 0 0 20px
}



#number_mod #modules .mod h3 {
  color: #084e8f;
  font-size: 22px;
  font-weight: 100;
  padding: 0 0 15px
}

#number_mod #modules .mod p {
  font-size: 14px;
  margin: 0 0 20px
}

#number_mod #modules {
  height: inherit;
  width: auto;
  margin: 0;
  padding: 0 0 45px
}
#go1,#go2,#go3,#go4,#go5,#go6,#go7,#go8,#go9,#go10,#go11,#go12,#go13,#go14,#go15,#go16,#go16,#go17,#go18,#go19,#go20,#go21,#go22,#go23,#go24{
  color: #b31734;  /* fallback for old browsers */
  color: -webkit-linear-gradient(to right, #feb47b, #b31734);  /* Chrome 10-25, Safari 5.1-6 */
  color: linear-gradient(to right, #feb47b, #ff7e5f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.chart {
  text-align: center;
  margin: auto;
}

.row {
  margin-bottom: 150px;
}

h1 {
  text-align: center;
  margin-bottom: 80px;
}




#modalContainer {
  background-color:rgba(0, 0, 0, 0.3);
  position:absolute;
  top:0;
  width:100%;
  height:100%;
  left:0px;
  z-index:10000;
  /* background-image:url(tp.png); 
  required by MSIE to prevent actions on lower z-index elements */
}

#alertBox {
  position:relative;
  width:33%;
  min-height:100px;
  max-height:400px;
  margin-top:50px;
  border:1px solid #fff;
  background-color:#fff;
  background-repeat:no-repeat;
  top:30%;
}

#modalContainer > #alertBox {
  position:fixed;
}

#alertBox h1 {
  margin:0;
  font:bold 1em Raleway,arial;
  background-color:#b31734;
  color:#FFF;
  border-bottom:1px solid #b31734;
  padding:10px 0 10px 5px;
}

#alertBox p {
  height:50px;
  padding-left:5px;
  padding-top:30px;
  text-align:center;
  vertical-align:middle;
}

#alertBox #closeBtn {
  display:block;
  position:relative;
  margin:10px auto 10px auto;
  padding:7px;
  border:0 none;
  width:70px;
  text-transform:uppercase;
  text-align:center;
  color:#FFF;
  background-color:#b31734;
  border-radius: 0px;
  text-decoration:none;
  outline:0!important;
}

/* unrelated styles */

#mContainer {
  position:relative;
  width:600px;
  margin:auto;
  padding:5px;
  border-top:2px solid #fff;
  border-bottom:2px solid #fff;
}

h1,h2 {
  margin:0;
  padding:4px;
}

code {
  font-size:1.2em;
  color:#069;
}

#credits {
  position:relative;
  margin:25px auto 0px auto;
  width:350px; 
  font:0.7em verdana;
  border-top:1px solid #000;
  border-bottom:1px solid #000;
  height:90px;
  padding-top:4px;
}

#credits img {
  float:left;
  margin:5px 10px 5px 0px;
  border:1px solid #000000;
  width:80px;
  height:79px;
}

.important {
  background-color:#F5FCC8;
  padding:2px;
}
@media (max-width: 600px) 
{
  #alertBox {
  position:relative;
  width:90%;
  top:30%;
}
}


/* 
.vertical-left-scroll{
  height: 90%;
  overflow: hidden;
} */




















body{margin-top:20px; background:#eee; } .team-style1 { position: relative; } .team-style1 .team-img { position: relative; border-radius:
  0.25rem; overflow: hidden; border: 1px solid rgba(0, 0, 0, 0.09); text-align: center; } .team-style1 .team-img img { display: inline-block;
  } .team-style1 .team-social-icon { position: absolute; top: 0; overflow: hidden; width: auto; display: block; transition: all 0.3s
  ease-in-out; z-index: 9; } .team-style1 .team-social-icon ul { list-style: none; padding: 0; transition: all 0.3s ease-in-out; margin: 20px;
  } .team-style1 .team-social-icon ul li { margin-bottom: 8px; } .team-style1 .team-social-icon ul li:last-child { margin-bottom: 0; }
  .team-style1 .team-social-icon ul li a { background-color: #fff; color: #004975; font-size: 15px; display: inline-block; height: 36px;
  border-radius: 0.25rem; width: 36px; border: 1px solid rgba(0, 73, 118, 0.41); line-height: 36px; text-decoration: none; text-align: center;
  transition: all 0.3s ease 0s; } .team-style1 .team-social-icon ul li a:hover { background: #00baee; color: #fff; border: 1px solid #00baee;
  } .team-style1 .team-info { position: absolute; width: 100%; bottom: 0; padding: 20px; background: #00baee; text-align: center;
  border-bottom-right-radius: 0.25rem; border-bottom-left-radius: 0.25rem; } .team-style1 .team-info h6 { display: block; color: #fff;
  text-transform: capitalize; } .team-style1 .team-info small { display: block; color: #fff; } @media screen and (max-width: 991px) {
  .team-style1 .team-info { padding: 15px; } } @media screen and (max-width: 575px) { .team-style1 .team-social-icon ul li a { width: 30px;
  height: 30px; line-height: 30px; font-size: 13px; } } .container{ padding: 0 40px; display: flex; align-items: center; justify-content:
  space-between; } .card{ height: 280px; max-width: 400px; margin: 0 20px; background: white; transition: 0.4s; box-shadow: 2px 2px 5px
  rgba(0,0,0,0.2); border:0.5px solid #b31734} .card:hover{ height: 470px; box-shadow: 5px 5px 10px rgba(0,0,0,0.2); } .card .img{ height:
  150px; width: 100%; } .card .img img{ height: 100%; width: 100%; object-fit: cover; } .card .top-text{ padding: 5px; } .card .top-text
  .name{ font-size: 25px; font-weight: 600; color: #202020; text-align: center} .card .top-text p{ font-size: 20px; font-weight: 600; color:
  #e74c3c; line-height: 20px; } .card .bottom-text{ padding: 0 20px 10px 20px; margin-top: 5px; background: white; opacity: 0; visibility:
  hidden; transition: 0.1s; } .card:hover .bottom-text{ opacity: 1; visibility: visible; } .card .bottom-text .text{ text-align: justify; }
  @media screen and (max-width: 978px) { .container{ flex-wrap: wrap; flex-direction: column; } .card{ max-width: 700px; margin:20px 0;}}
  #resource1{
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .footer {
    
    position: absolute;
    bottom: 0;
    width: 100%;
    
    padding-top: 40px; background: #232127; max-height: 900px; } .footer .container {max-height: 500px;display: flex;
  justify-content:space-around; align-items: flex-start; gap: 150px; flex-wrap: wrap; } @media (max-width: 705px) { .footer .container {
  flex-wrap: nowrap; flex-direction: column; align-items: center; gap: 30px; } } .footer .logo { flex: 1 0 auto; } .footer .logo img { filter:
  brightness(10); } .footer .quick-links { display: flex; gap: 60px; } @media (max-width: 705px) { .footer .quick-links { flex-direction:
  column; align-items: center; text-align: center; gap: 30px; } } .footer .quick-links .links-group { display: flex; flex-direction: column;
  gap: 20px; } .footer .links-group span { color: white; font-weight: 700; } .footer .links-group > div { display: flex; flex-direction:
  column; gap: 6.66667px; } .footer .links-group a { color: #bfbfbf; font-size: 13px; transition: 0.2s color;} .footer .social-media {
  display: flex; flex-shrink: 0; align-items: center; gap: 20px; } .footer .social-media img { max-width: 85%; transition: 0.2s transform; }
  .attribution { padding: 30px 0 25px 0; text-align: center; font-size: 13px; color: #fff; } .attribution .outer-link { font-size: 15px;
  color: #2acfcf; margin-left: 2px; cursor: pointer; } .attribution .social-media { display: inline-flex; align-items: center; gap: 12px;
  list-style: none; margin-left: 5px; } .attribution .social-media .icon { font-size: 20px; color: #fff; } .attribution .social-media .image {
  width: 23px; } .footext{ color:white; font-style:bold;font-weight:500px } *{ margin: 0; padding: 0; box-sizing: border-box; font-family:
  "Poppins", sans-serif; } a{ text-decoration: none; } section{ position: relative; width: 100%; min-height: 100vh; display: flex;
  flex-direction: column; justify-content: flex-start; opacity: 1; background-size: cover; background-position: center; } label{ display:
  none; } header .logo{ position: relative; color: #000; font-size: 30px; text-decoration: none; text-transform: uppercase; font-weight: 800;
  letter-spacing: 1px; } #p1{ margin-bottom: 10px; } header .navigation a{ color: #000; font-size: 18px; text-decoration: none; font-weight:
  600; letter-spacing: 1px; padding: 2px 15px; border-radius: 20px; transition: 0.3s; transition-property: background; } header .navigation
  a:not(:last-child){ margin-right: 30px; } header .navigation a:hover{ background: #fff; } .content{ max-width: 650px; margin: 60px 100px; }
  .content1{ max-width: 650px; margin: 60px 100px; } .content .info h2{ color: #b31734; font-size: 48px; text-transform: uppercase;
  font-weight: 800; letter-spacing: 2px; line-height: 45px; margin-bottom: 10px; } .content .info h3{ color: #fff; font-size: 26px;
  font-weight: 700; margin-bottom: 20px; } .content .info p{ font-size: 16px; font-weight: 500; margin-bottom: 40px; } .btn-danger{
  background-color:#b31734; } .content .btn-danger{ color: #fff; background: #b31734; text-decoration: none; text-transform: uppercase;
  font-weight: 700; letter-spacing: 2px; padding: 10px 20px; border-radius: 5px; transition: 0.3s; transition-property: background; }
  .dropdown-menu-dark{ color: #ffffff; background: #cf3e4f; text-decoration: none; text-transform: uppercase; font-weight: 600;
  letter-spacing: 1px; padding: 10px 20px; border-radius: 5px; transition: 0.3s; transition-property: background; } .content .info-btn:hover{
  background: #c44352; } .media-icons{ display: flex; justify-content: center; align-items: center; margin: auto; } .media-icons a{ position:
  relative; color: #111; font-size: 25px; transition: 0.3s; transition-property: transform; } .media-icons a:not(:last-child){ margin-right:
  60px; } .media-icons a:hover{ transform: scale(1.5); } #check{ z-index: 3; display: none; } @media (max-width: 960px){ header .navigation{
  display: none; } label{ display: block; font-size: 30px; cursor: pointer; transition: 0.3s; transition-property: color; } label:hover{
  color: #fff; } label .close-btn{ display: none; } #check:checked ~ header .navigation{ z-index: 2; position: fixed; top: 0; bottom: 0; left:
  0; right: 0; background: #c44352; display: flex; flex-direction: column; justify-content: center; align-items: center; } #check:checked ~
  header .navigation a{ font-weight: 700; margin-right: 0; margin-bottom: 50px; letter-spacing: 2px; } #check:checked ~ header label
  .close-btn{ z-index: 2; position: fixed; display: block; } #check:checked ~ header label .menu-btn{ display: none; } label .menu-btn{
  position: absolute; } header .logo{ position: absolute; bottom: -19px; } .content .info h2{ font-size: 45px; line-height: 50px; } .content
  .info p{ font-size: 14px; } } @media (max-width: 560px){ .content .info h2{ font-size: 35px; line-height: 40px; } .content .info p{
  font-size: 14px; } } .container{ padding: 0 40px; display: flex; align-items: center; justify-content: space-between; } .card{ height:
  280px; max-width: 350px; margin: 0 20px; background: white; transition: 0.4s; box-shadow: 2px 2px 5px rgba(0,0,0,0.2); } .card:hover{
  height: 470px; box-shadow: 5px 5px 10px rgba(0,0,0,0.2); } .card .img{ height: 200px; width: 100%; } .card .img img{ height: 100%; width:
  100%; object-fit: cover; } .card .top-text{ padding: 5px; } .card .top-text .name{ font-size: 25px; font-weight: 600; color: #202020; }
  .card .top-text p{ font-size: 20px; font-weight: 600; color: #e74c3c; line-height: 20px; } .card .bottom-text{ padding: 0 20px 10px 20px;
  margin-top: 5px; background: white; opacity: 0; visibility: hidden; transition: 0.1s; } .card:hover .bottom-text{ opacity: 1; visibility:
  visible; } .card .bottom-text .text{ text-align: justify; } .card .bottom-text .btn{ margin: 10px 0; text-align: left; } .card .bottom-text
  .btn a{ text-decoration: none; background: #e74c3c; color: #f2f2f2; padding: 5px 8px; border-radius: 3px; display: inline-flex; transition:
  0.2s; } .card .bottom-text .btn a:hover{ transform: scale(0.9); } @media screen and (max-width: 978px) { .container{ flex-wrap: wrap;
  flex-direction: column; } .card{ max-width: 700px; margin: 20px 0; } } .collide{position:relative; top: 0; width: 100%; padding: 30px 100px;
  display: flex; justify-content: space-between; align-items: center;}
  .page2BgImgs{
    /*background-color:red;*/
    background-size:100% 100%;
  }
  .logsan{
    display: inline-block;
    padding: 0.5em 1.7em;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    background-color: #b31734;
  }
  .logsan:hover{
     background-color: #db5e76;
  }


  






