<body>    
    <div class="wrapper collapsed">
        <div class="top_navbar">
            <div class="hamburger">
                <div class="one"></div>
                <div class="two"></div>
                <div class="three"></div>
            </div>
            <div class="top_menu">
                <div class="logo">
                    {{title1}}
                </div>
                <ul>
                    <!-- <li><a href="#">
                            <i class="fas fa-search"></i>
                        </a></li> -->
                    <li><a (click)="router.navigate(['/empprofile']);">
                            <i class="fas fa-user"></i>
                        </a></li>
                        <li><a (click)="logout()">
                            <i class="fas fa-sign-out-alt" id="btn-logout"></i>
                        </a></li>
                </ul>
            </div>
        </div>

        <div class="sidebar">
          <ul>
            <li><a (click)="router.navigate(['/empdashboard']);" class=active>
                <span class="icon"><i class="fas fa-tachometer-alt"></i></span>
                <span class="title">Dashboard</span>
            </a></li>
       
        <li>
            <a (click)="router.navigate(['/empprofile']);">
                <span class="icon"><i class="fa fa-user"></i></span>
                <span class="title">Profile</span>
            </a>
        </li>
        <li><a href="https://www.kaartech.com/contact-us/" target="_blank">
            <span class="icon"><i class="fa fa-address-book"></i></span>
            <span class="title">Contact Us</span>
        </a></li>
        </ul>
        </div>


      

       
            <div class="main_container">

                <button class="logsan" (click)="toggle()" id="bt1">
                    {{buttonName}}
                  </button>
                  
                <ng-container *ngIf="show">
                <!-- <h1>Credit Details</h1> -->

                <div class="table-wrapper">
                    <div class="table-title">
                      <div class="row">
                        <div class="colsan">
                          <h2><b>Total Entries - {{lenc}}</b></h2>
                          <form method="post">
                            <input type="text" class="form-control" name="SD_DOC" [(ngModel)]="SD_DOC1" (ngModelChange)="search1()" class="textbox" placeholder="Search">
                            <input title="Search" value="" type="submit" class="button">
                          </form>
                        </div>
                      </div>
                    </div>

                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col" (click)="sort('MATNR')">Leave Entitlement</th>
                        <th scope="col" (click)="sort('MATNR')">Total Leave Balance</th>
                       
                        <th scope="col" (click)="sort('WERKS')">Leave Type</th>
                        <th scope="col" (click)="sort('MENGE')">Name of Leave Type</th>
                        <th scope="col" (click)="sort('MEINS')">Time Unit</th>
                        <th scope="col" (click)="sort('BUKRS')">Type of Time Unit</th>
                        <th scope="col" (click)="sort('QUOTABEG')">Valid From&nbsp;<i class="fa fa-sort"></i></th>        
                        <th scope="col" (click)="sort('QUOTAEND')">Valid til&nbsp;<i class="fa fa-sort"></i></th>

                       
                      </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of credit | orderBy : key : reverse | paginate:{itemsPerPage:10,currentPage:p} | filter:SD_DOC" class="">
     
                        <td>{{item.ENTITLE}}</td>
                        <td>{{item.QUOTANUM}}</td> 
                        <td>{{item.QUOTATYPE}}</td>
                        <td>{{item.QUOTATEXT}}</td>
                        <td>{{item.TIME_UNIT}}</td>
                        <td>{{item.TIUNITEXT}}</td>
                        <td>{{item.QUOTABEG}}</td>
                        <td>{{item.QUOTAEND}}</td>
                        
                           
                          </tr>
                    </tbody>
                  </table>

                  <div class="spinner-border text-danger" style="width:3rem;height:3rem;align-items: center;" role="status" [hidden]="spinner">

                  </div>

                  <div class="page">
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>
                </div>
                  </ng-container>
                  
          
        

              <ng-container *ngIf="hide">
               
                    <!-- <h1>Debit Details</h1> -->

                    <div class="table-wrapper">
                        <div class="table-title">
                          <div class="row">
                            <div class="colsan">
                              <h2><b>Total Entries - {{lend}}</b></h2>
                              <form method="post">
                                <input type="text" class="form-control" name="SD_DOC" [(ngModel)]="SD_DOC" (ngModelChange)="search()" class="textbox" placeholder="Search">
                                <input title="Search" value="" type="submit" class="button">
                              </form>
                            </div>
                          </div>
                        </div>
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th scope="col" (click)="sort('MATNR')">Employee Id</th>
                         
                          <th scope="col" (click)="sort('ABSENCEDAYS')">Total Absence Days&nbsp;<i class="fa fa-sort"></i></th>
                          <th scope="col" (click)="sort('ABSENCEHOURS')">Total Absence Hours&nbsp;<i class="fa fa-sort"></i></th>
                          <th scope="col" (click)="sort('MEINS')">Absence Type</th>
                          <th scope="col" (click)="sort('BUKRS')">Name of Absence Type</th>
                          <th scope="col" (click)="sort('BELNR')">Sub Type</th>        
                          <th scope="col" (click)="sort('VALIDBEGIN')">Valid From&nbsp;<i class="fa fa-sort"></i></th>
                          <th scope="col" (click)="sort('VALIDEND')">Valid Till&nbsp;<i class="fa fa-sort"></i></th>
                         
                         
                        </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let item of debit | orderBy : key : reverse | paginate:{itemsPerPage:10,currentPage:p} | filter:SD_DOC"  class="table-hover">
       
                        
                        <td>{{item.EMPLOYEENO | number}}</td>
                        <td>{{item.ABSENCEDAYS}}</td> 
                        <td>{{item.ABSENCEHOURS}}</td>
                        <td>{{item.ABSENCETYPE}}</td>
                        <td>{{item.NAMEOFABSENCETYPE}}</td>
                        <td>{{item.SUBTYPE}}</td>
                        <td>{{item.VALIDBEGIN}}</td>
                        <td>{{item.VALIDEND}}</td>
                        
                             
                            </tr>
                      </tbody>
                    </table>

                    <div class="spinner-border text-danger" style="width:3rem;height:3rem;align-items: center;" role="status" [hidden]="spinner">

                    </div>
                    <div class="page">
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>
                    </div>
            </ng-container>
        </div>
    </div>

</body>

