<body>    
    <div class="wrapper collapsed">
        <div class="top_navbar">
            <div class="hamburger">
                <div class="one"></div>
                <div class="two"></div>
                <div class="three"></div>
            </div>
            <div class="top_menu">
                <div class="logo">
                    INVOICE DETAILS
                </div>
                <ul>
                    <!-- <li><a href="#">
                            <i class="fas fa-search"></i>
                        </a></li> -->
                    <li><a (click)="router.navigate(['/vendprofile']);">
                            <i class="fas fa-user"></i>
                        </a></li>
                        <li><a (click)="logout()">
                            <i class="fas fa-sign-out-alt" id="btn-logout"></i>
                        </a></li>
                </ul>
            </div>
        </div>

        <div class="sidebar">
            <ul>
                <li><a (click)="router.navigate(['/venddashboard']);">
                    <span class="icon"><i class="fas fa-tachometer-alt"></i></span>
                    <span class="title">Dashboard</span>
                </a></li>
            <li>
                <!-- <button class="dashsan" (click)="router.navigate(['/custfinancesheet']);"> -->
                <a (click)="router.navigate(['/vendfinancesheet']);" class=active>
                    <span class="icon"><i class="fa fa-calculator" aria-hidden="true"></i></span>
                    <span class="title">Financial Sheet</span>
                </a>
                <!-- </button> -->
            </li>
            <li>
                <a (click)="router.navigate(['/vendprofile']);">
                    <span class="icon"><i class="fa fa-user"></i></span>
                    <span class="title">Profile</span>
                </a>
            </li>
            <li><a href="https://www.kaartech.com/contact-us/" target="_blank">
                <span class="icon"><i class="fa fa-address-book"></i></span>
                <span class="title">Contact Us</span>
            </a></li>
            </ul>
        </div>

        <div class="main_container">

            <div class="table-wrapper">
                <div class="table-title">
                  <div class="row">
                    <div class="colsan">
                      <h2><b>Total Entries - {{len1}}</b></h2>
                      <form method="post">
                        <input type="text" class="form-control" name="SD_DOC" [(ngModel)]="SD_DOC" (ngModelChange)="search()" class="textbox" placeholder="Search">
                        <input title="Search" value="" type="submit" class="button">
                      </form>
                    </div>
                  </div>
                </div>

            <table class="table table-hover">
                <thead>
                    <tr>
      
                        <th scope="col" (click)="sort('BELNR')">Document No&nbsp;<i class="fa fa-sort"></i></th>
                        <th scope="col">Company Code </th>
                        <!-- <th scope="col">Sales Document Number</th> -->
                        <th scope="col">Fiscal year </th>
                        <!-- <th scope="col">Account Type</th> -->
                        <th scope="col" (click)="sort('CPUDT')">Billing Date &nbsp;<i class="fa fa-sort"></i> </th>
                        <th scope="col" (click)="sort('CPUTM')">Billing Time&nbsp;<i class="fa fa-sort"></i> </th>
                        <th scope="col" (click)="sort('SD_DOC')">Logical System</th>
                        <th scope="col" (click)="sort('SD_DOC')">Transaction Type</th>
                        <th scope="col" (click)="sort('SD_DOC')">Currency Type</th>
                        <th scope="col" (click)="sort('SD_DOC')">Bill Type</th>
                        <th scope="col" (click)="sort('SD_DOC')">Vendor </th>
                
                      </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of message | orderBy : key : reverse | paginate:{itemsPerPage:10,currentPage:p} | filter:SD_DOC" (click)="onInvoiceClick(item)" class="">

                        <td>{{item.BELNR}}</td>
                        <td>{{item.BUKRS}}</td>
                        <td>{{item.GJAHR}}</td>
                        <td>{{item.CPUDT}}</td>
                        <td>{{item.CPUTM}}</td>
                        <td>{{item.LOGSYS}}</td>
                        <td>{{item.VGART}}</td>
                        <td>{{item.WAERS}}</td>
                        <td>{{item.XRECH}}</td>
                        <td>{{item.LIFNR}}</td>

                        </tr>
                </tbody>
              </table>

              <div class="spinner-border text-danger" style="width:3rem;height:3rem;align-items: center;" role="status" [hidden]="spinner">

            </div>
              <div class="page">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
              </div>

        </div>
    </div>

</body>

