<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.com/libraries/pdfmake"></script>


<div class="pdfbtn">
  <div class="wrap">
    <a (click)="router.navigate(['/custinvoice']);" class="hover-fx"><i class="fa fa-arrow-left"></i></a>
  </div>
  <button class="btn btn-danger" (click)="pdf()">Save as PDF
    <i class="fas fa-file"></i>
  </button>
  </div>
  
<div class="container invoice" id="contentToConvert">
  <!-- <div id="pdfTable" #pdfTable> -->
  
 
    <div class="invoice-header">
    <div class="ui left aligned grid">
      <div class="row">
        <div class="left floated left aligned six wide column">
          <div class="ui">
            <h1 class = "ui header pageTitle" style="color:#b31734">Invoice <small class = "ui sub header">With {{cord}}</small></h1>
            <h4 class="ui sub header">Date: {{livedate}}</h4>
          </div>
        </div>
        <div class="right floated left aligned six wide column">
          <div class="ui">
            <div class="column two wide right floated">
              <img class="logo" src="../../assets/images/kaarlogo1.png" />
              <div class="ui">
                <h5 class ="ui header pageTitle" class="comname">Level 8,Shyamala Towers, No 136, Arcot Road,Chennai-600093. <br>Tel: +91 (44) 4065 1500</h5>
                <!-- <h4 class ="ui header pageTitle" class="comname">Tel: +91 (44) 4065 1500</h4> -->
                <h5 class="ui sub header invDetails" class="website">www.kaartech.com</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui segment cards">
    <div class="ui card customercard">
      <div class="content">
        <div class="header" style="color:#b31734">CUSTOMER DETAILS</div>
      </div>
      <div class="content">
        <ul>
          <li> <strong> Customer Id: </strong>{{custid}} </li>
          <li><strong> Customer Name: </strong> {{custname}}</li>
          <li><strong> Sales Document Number: </strong>{{salesdocnum}}</li>
        </ul>
      </div>
    </div>
    <div class="ui card customercard">
      <div class="content">
        <div class="header" style="color:#b31734">ACCOUNT DETAILS</div>
      </div>
      <div class="content">
        <ul>
          <li> <strong> Accounting Document Number: </strong> {{accdocnum}}</li>
          <li><strong> Account Type: </strong> {{acctyp}}</li>
          <li><strong> Fiscal Year: </strong> {{fiscalyear}}</li>
          <li><strong> Local Currency Amount: </strong> {{loccuramount}} INR</li>
          <li><strong> Document Currency Amount: </strong>{{doccuramount}} {{currencytype}}</li>
          <li><strong> General Ledger Amount: </strong> {{generalledgeamount}}</li>
          <!-- <li><strong> Credit/ Debit: </strong> {{cord}}</li> -->
          <!-- <li><strong> Line Item Count: </strong> {{lineitemnum}}</li> -->
          <!-- <li> <strong> Currency Type: </strong>{{currencytype}} </li> -->
          <li><strong> Base Line Data: </strong> {{balsedate}}</li>
          <li><strong> Last Dunned Data: </strong> {{lastduneddate}}</li>
        </ul>
      </div>
    </div>

    <div class="ui card customercard">
      <div class="content">
        <div class="header" style="color:#b31734">TRANSACTION DETAILS</div>
      </div>
      <div class="content">
  
        <table class="ui celled table">
          <!-- <caption>ACCOUNT DETAILS</caption> -->
          <thead>
            <tr>
              <th class="text-center colfix">Net Quantity</th>
              <th class="text-center colfix">Amount Paid (in {{currencytype}})</th>
              <th class="text-center colfix">Balance Amount (in {{currencytype}})</th>
              <th class="text-center colfix">Tax Amount (in {{currencytype}})</th>
              <th class="text-center colfix">Credit/ Debit</th>
              <th class="text-center colfix">Currency Type</th>
              
            </tr>
          </thead>
          <tbody>
            <tr>
            
              
              <td class="text-right">
                <span class="mono">{{lineitemnum | number}}</span>
                <br>
                <!-- <small class="text-muted">Before Tax</small> -->
              </td>
              <td class="text-right">
                <span class="mono">{{amountpaid}}</span>
                <br>
                <!-- <small class="text-muted">18 Units</small> -->
              </td>
              <td class="text-right">
                <span class="mono">{{balance}}</span>
                <br>
                <!-- <small class="text-muted">Special -10%</small> -->
              </td>
              <td class="text-right">
                <span class="mono">0.00</span>
                <br>
                <!-- <small class="text-muted">Special -10%</small> -->
              </td>
              <td class="text-right">
                <span class="mono">{{cord}}</span>
                <br>
                <!-- <small class="text-muted">Special -10%</small> -->
              </td>
              <td class="text-right">
                <span class="mono">{{currencytype}}</span>
                <br>
                <!-- <small class="text-muted">Special -10%</small> -->
              </td>
             
            </tr>

  
          </tbody>
         <tfoot class="full-width">
    <!-- <tr>
      <th> Total: </th>
      <th colspan="2"></th>
      <th colspan = "1"> $500 </th>
      <th colspan = "1"> $800 </th>
      <th colspan = "1"> $20000.00 </th>
    </tr> -->
  </tfoot>
        </table>

      </div>
    </div>

    <div class="ui card">
      <div class="content center aligned text segment">
        <small class="ui sub header"> Total Amount (in {{currencytype}}): </small>
        <p class="bigfont">{{total}}.00 {{currencytype}}</p>
      </div>
    </div>
        <div class="ui card">
      <div class="content">
        <div class="header" style="color:#b31734">Payment Details</div>
      </div>
      <div class="content">
        <p> <strong> Account Document Number: </strong> {{accdocnum}} </p>
        <p> <strong> Account Type: </strong> {{acctyp}} </p>
        <p> <strong>Currency Type: </strong> {{currencytype}} </p>
      </div>
    </div>
    <div class="ui card">
      <div class="content">
        <div class="header" style="color:#b31734">Greeting !!!</div>
      </div>
      <div class="content">
        THANK FOR BEING A PART OF KAAR TECHNOLOGIES.
      </div>
    </div> 
   
  </div>
  
  

  
</div>
<!-- </div> -->