@page {
    size: A4;
    margin: 0;
  }
  @media print {
    html, body {
      width: 210mm;
      height: 297mm;
    }
    /* ... the rest of the rules ... */
  }
  
  body{
    background:#fce6d9;
    /* font-size:0.9em !important; */
  }
  
  .bigfont {
    font-size: 3rem !important;
  }
  .invoice{
    width:970px !important;
    margin:50px auto;
  }
  
  .logo {
    float:left;
    padding-right: 10px;
    margin:10px auto;
  }
  
  dt {
  float:left;
  }
  dd {
  float:left;
  clear:right;
  }
  
  .customercard {
    min-width:98.5%;
    /* margin-left: 0.5%; */
  }
  
  .itemscard {
    min-width:98.5%;
    margin-left:0.5%;
  }
  
  .logo {
    max-width: 10.2rem;
  max-height:8.2rem;
  margin-top: -0.25rem;
  margin-right: 20px;
  }
  
  .invDetails {
    margin-top: 0rem;
  }
  
  .pageTitle {
    margin-bottom: 0rem;
  }
  
  .invoice-header{
    padding-left: 4%;
    margin-bottom: -90px;
  }

  .website{
    padding-left: 120px;
    padding-bottom: 90px;
    font-size: 1rem;
  }
  .comname{
    margin-bottom: 1rem;
    font-size: 1rem;
  }
  li{
    margin-top: 7px;
    margin-bottom: 7px;
  }