<section style="background-image: url('assets/images/kaar_bg.png')" width="8rem" height="8rem">
						<header class="collide">
							<img class="logo" src="assets/images/top_logo.png" style="float: left; width: 200px; height: 75px;"/>
							<div class="navigation">
								<a href="https://www.kaartech.com/" target="_blank" rel="noopener noreferrer">Home</a>
								<a href="https://www.kaartech.com/about-kaartech/" target="_blank" rel="noopener noreferrer">About</a>
								<a href="https://www.kaartech.com/careers/" target="_blank" rel="noopener noreferrer">Careers</a>
								<a href="https://www.kaartech.com/s4-hana-digital-transformation/" target="_blank" rel="noopener noreferrer">Services</a>
								<a href="https://www.kaartech.com/contact-us/" target="_blank" rel="noopener noreferrer">Contact</a>
							</div>
							<label for="check">
								<i class="fas fa-bars menu-btn"></i>
								<i class="fas fa-times close-btn"></i>
							</label>
						</header>
						<div class="content">
							<div class="info">
								<br><br>
								<h2>Kaar Technologies</h2>
								<!-- <br> -->
								<h3>BEST SAP DIGITAL TRANSFORMATION PARTNER</h3>
								<p id="p1">Kaar Tech is the World’s Best Pure-Play SAP Digital Transformation Consulting and Services Partner driven by 1000+
									Specialized SAP Consultants and 5000+ Man-Years of SAP Expertise gained through 2000+ projects for 350+ customers across the globe.
								</p>
								<br>
								<div class="btn-group dropend">
									<button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
										Portals
									</button>
									<ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
										<li>
											<!--<Button text="MAINTENANCE PORTAL" press="onclick" width="12em"></Button>-->
											<!--<a class="dropdown-item" press="onclick">Maintenance Portal</a>-->
											<a class="dropdown-item dropdown-menu-dark">CUSTOMER PORTAL</a>
										</li>
										<li>
											<hr class="dropdown-divider">
										</li>
										<li>
											<!--<Button text="SHOP FLOOR PORTAL" press="onclick" width="12em"></Button>-->
											<!--<a class="dropdown-item" href="#">Shop Floor Portal</a>-->
											<a class="dropdown-item dropdown-menu-dark">VENDOR PORTAL</a>
										</li>
										<li>
											<hr class="dropdown-divider">
										</li>
										<li>
											<!--<Button text="EHSM PORTAL" id="san" press="onclick" width="12em"></Button>-->
											<!--<a class="dropdown-item" href="#">EHSM Portal</a>-->
											<a class="dropdown-item dropdown-menu-dark">EMPLOYEE PORTAL</a>
										</li>
										
									</ul>
								</div>
							</div>
						</div>
						<div class="media-icons">
							
							<a href="https://www.facebook.com/kaartech/" target="_blank" rel="noopener noreferrer" style="color: #b31734;">
								<!-- <i class="fab fa-facebook-f"></i> --><fa-icon [icon]="faFacebook"></fa-icon>
							</a>
							<a href="https://twitter.com/kaartech" target="_blank" rel="noopener noreferrer" style="color: #b31734;">
								<!-- <i class="fab fa-twitter"></i>  --><fa-icon [icon]="faTwitter"></fa-icon>
							</a>
							<a href="https://www.youtube.com/user/Kaartech" target="_blank" rel="noopener noreferrer" style="color: #b31734;">
								<!-- <i class="fab fa-youtube"></i> --><fa-icon [icon]="faYoutube"></fa-icon>
							</a>
							<a href="https://www.instagram.com/kaar_technologies/" target="_blank" rel="noopener noreferrer" style="color: #b31734;">
								<!-- <i class="fab fa-instagram"></i> --><fa-icon [icon]="faInstagram"></fa-icon>
							</a>
						</div>
					</section>
					<section style="background-image: url('assets/images/plain_bk.png')" width="8rem" height="8rem">
						<div class="m-4">
							<div class="row row-cols-1 row-cols-md-3 g-5">
								<div class="col">
									<div class="card">
										<div class="img">
											<img src="assets/images/customer.svg"/>
										</div>
										<div class="top-text">
											<div class="name">
												Customer Portal
											</div>
											
										</div>
										<div class="bottom-text">
											<div class="text">
												The Smart Customer Portal is a cloud-based, lightweight portal built on SAP Cloud Platform allowing customers to retrieve key information such as account information, ticket information, orders, deliveries and invoices. The portal is custom-built for a specific business and can be further personalized as needed.
											</div>
											<button type="button" class="logsan" (click)="router.navigate(['/login']);">Click Here</button>
											<!-- <a class="logsan" xmlns:html="http://www.w3.org/1999/xhtml" id="myLink">Click Here</a> -->
											<!--<a class="btn btn-danger text-center" xmlns:html="http://www.w3.org/1999/xhtml" id="myLink">-->
											<!--	Click Here-->
											<!--</a>-->
										</div>
									</div>
								</div>
								<div class="col">
									<div class="card">
										<div class="img">
											<img src="assets/images/vendor.svg"/>
										</div>
										<div class="top-text">
											<div class="name">
												Vendor Portal
											</div>
											<!--<p>-->
											<!--	Apps Developer-->
											<!--</p>-->
										</div>
										<div class="bottom-text">
											<div class="text">
												A vendor portal is generally an internet-based system used to manage and connect with third party suppliers of goods or/and services. It should be a secured management system adopted by organizations that network with multiple suppliers. Vendor Portals, also known as Supplier Portals.
											</div>
											<button type="button" class="logsan" (click)="router.navigate(['/vendlogin']);">Click Here</button>
										</div>
									</div>
								</div>
								<div class="col">
									<div class="card">
										<div class="img">
											<img src="assets/images/employee.svg"/>
										</div>
										<div class="top-text">
											<div class="name">
												Employee Portal
											</div>
											<!--<p>-->
											<!--	Apps Developer-->
											<!--</p>-->
										</div>
										<div class="bottom-text">
											<div class="text">
												Employee Portal is a feature-rich solution that allows employees and field staff to see the SAP Business One data they need in a web-based browser. This portal is to be designed for providing info about the
												organization and employees, getting the pay slip as printable, leave balance and to request
												leave.
											</div>
											<button type="button" class="logsan" (click)="router.navigate(['/emplogin']);">Click Here</button>
										</div>
									</div>
								</div>
								
								
							</div>
						</div>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<div id="resource1">

						</div>
						<footer class="footer" id="resources">
							<div class="container">
								<!-- Website Logo -->
								<div class="logo">
									<p class="footext" size="5em">KAAR TECHNOLOGIES</p>
									<img src="assets/images/footer.png" width="180px" height="75px"/>
								</div>
								<!-- Quick Links -->
								<div class="quick-links">
									<div class="links-group">
										<span>Features</span>
										<div>
											<a href="#">CUSTOMER PORTAL</a>
											<a href="#">VENDOR PORTAL</a>
											<a href="#">EMPLOYEE PORTAL</a>
											<!-- <a href="#">QUALITY PORTAL</a> -->
										</div>
									</div>
									<div class="links-group">
										<span>Resources</span>
										<div>
											<a href="https://blogs.sap.com/tags/500983881501772639608291559920477/" target="_blank" rel="noopener noreferrer">Blog</a>
											<a href="https://sapui5.hana.ondemand.com/sdk/#/controls" target="_blank" rel="noopener noreferrer">Developers</a>
											<a href="https://www.tutorialspoint.com/sap_fiori/sap_fiori_ui5_concepts.htm" target="_blank" rel="noopener noreferrer">Support</a>
										</div>
									</div>
									<div class="links-group">
										<span>Company</span>
										<div>
											<a href="https://www.kaartech.com/about-kaartech/" target="_blank" rel="noopener noreferrer">About</a>
											<a href="https://www.kaartech.com/leadership/" target="_blank" rel="noopener noreferrer">Our Team</a>
											<a href="https://www.kaartech.com/careers/" target="_blank" rel="noopener noreferrer">Careers</a>
											<a href="https://www.kaartech.com/contact-us/" target="_blank" rel="noopener noreferrer">Contact</a>
										</div>
									</div>
								</div>
								<!-- Social Media -->
								<!-- <div class="social-media">
									<a href="https://m.facebook.com/kaartech/">
										<img src="https://raw.githubusercontent.com/MohamedAridah/frontendmentor_url-shortening-api/main/assets/images/icon-facebook.svg"
											alt="Facebook Logo" target="_blank" rel="noopener noreferrer"/></a>
									<a href="https://twitter.com/kaartech">
										<img src=""
											alt="Twitter Logo" target="_blank" rel="noopener noreferrer"/>
									</a>
									<a href="https://www.linkedin.com/company/kaar-tech/"><i class="icon ion-social-linkedin"></i></a>
									<a href="https://www.instagram.com/kaar_technologies/">
										<img src="https://raw.githubusercontent.com/MohamedAridah/frontendmentor_url-shortening-api/main/assets/images/icon-instagram.svg"
											alt="Instagram Logo" target="_blank" rel="noopener noreferrer"/></a>
								</div> -->
							</div>
							<!-- footer Gap -->
							<div class="attribution"></div>
						</footer>
					</section>