<body>    
    <div class="wrapper collapsed">
        <div class="top_navbar">
            <div class="hamburger">
                <div class="one"></div>
                <div class="two"></div>
                <div class="three"></div>
            </div>
            <div class="top_menu">
                <div class="logo">
                    PURCHASE ORDER
                </div>
                <ul>
                    <!-- <li><a href="#">
                            <i class="fas fa-search"></i>
                        </a></li> -->
                        <li><a (click)="router.navigate(['/vendprofile']);">
                            <i class="fas fa-user"></i>
                        </a></li>
                        <li><a (click)="logout()">
                            <i class="fas fa-sign-out-alt" id="btn-logout"></i>
                        </a></li>
                </ul>
            </div>
        </div>

        <div class="sidebar">
            <ul>
                <li><a (click)="router.navigate(['/venddashboard']);" class=active>
                    <span class="icon"><i class="fas fa-tachometer-alt"></i></span>
                    <span class="title">Dashboard</span>
                </a></li>
            <li>
                <!-- <button class="dashsan" (click)="router.navigate(['/custfinancesheet']);"> -->
                <a (click)="router.navigate(['/vendfinancesheet']);">
                    <span class="icon"><i class="fa fa-calculator" aria-hidden="true"></i></span>
                    <span class="title">Financial Sheet</span>
                </a>
                <!-- </button> -->
            </li>
            <li>
                <a (click)="router.navigate(['/vendprofile']);">
                    <span class="icon"><i class="fa fa-user"></i></span>
                    <span class="title">Profile</span>
                </a>
            </li>
            <li><a href="https://www.kaartech.com/contact-us/" target="_blank">
                <span class="icon"><i class="fa fa-address-book"></i></span>
                <span class="title">Contact Us</span>
            </a></li>
            </ul>
        </div>

        <div class="main_container">

            <ng-container *ngIf="show">
                <button class="logsan" (click)="toggle()" id="bt1">
                  Back to PO Order
                </button>
              </ng-container>

            <ng-container *ngIf="hide">
              <div class="table-wrapper">
                <div class="table-title">
                  <div class="row">
                    <div class="colsan">
                      <h2><b>Total Entries - {{len}}</b></h2>
                      <form method="post">
                        <input type="text" class="form-control" name="SD_DOC" [(ngModel)]="SD_DOC" (ngModelChange)="search()" class="textbox" placeholder="Search">
                        <input title="Search" value="" type="submit" class="button">
                      </form>
                    </div>
                  </div>
                </div>
            
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col" (click)="sort('PO_NUMBER')">Purchase Doc Number&nbsp;<i class="fa fa-sort"></i></th>
                     
                        <th scope="col" (click)="sort('DOC_COND')">Document Condition&nbsp;<i class="fa fa-sort"></i></th>


                        <th scope="col">Document Type</th>
                        <th scope="col" >Purchase Organization</th>
                        <th scope="col" >Purchase Group</th>
                     
                        <th scope="col" >Customer</th>
                        <th scope="col" >Company</th>
                        <th scope="col">Currency Type</th>

                        <th scope="col" (click)="sort('EXPORT_NO')">Export Number&nbsp;<i class="fa fa-sort"></i></th>
                       
                       </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of headerarray | orderBy : key : reverse | paginate:{itemsPerPage:10,currentPage:p} | filter:SD_DOC" (click)="onInvoiceClick(item)" class="">
                       
                       
                        <td>{{item.PO_NUMBER}}</td>
                        <td>{{item.DOC_COND}}</td>
                        <td>{{item.DOC_TYPE}}</td>
                        <td>{{item.PURCH_ORG}}</td>
                        <td>{{item.PUR_GROUP}}</td>
                        <td>{{item.CUSTOMER | number}}</td>
                        <td>{{item.CO_CODE}}</td>  
                        <td>{{item.CURRENCY}}</td>
                        <td>{{item.EXPORT_NO | number}}</td>
                       
                      </tr>
                </tbody>

               
              </table>
              
              <div class="spinner-border text-danger" style="width:3rem;height:3rem;align-items: center;" role="status" [hidden]="spinner">

            </div>

              <div class="page">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
              </div>
            </ng-container>
            <ng-container *ngIf="show">
                
                <div class="table-wrapper">
                    <div class="table-title">
                      <div class="row">
                        <div class="colsan">
                          <h2><b>Total Entries - {{len1}}</b></h2>
                          <form method="post">
                            <input type="text" class="form-control" name="SD_DOC" [(ngModel)]="SD_DOC" (ngModelChange)="search()" class="textbox" placeholder="Search">
                            <input title="Search" value="" type="submit" class="button">
                          </form>
                        </div>
                      </div>
                    </div>
                
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col" (click)="sort('EBELN')">Purchase Doc Number</th>
                         
                            <th scope="col" (click)="sort('EBELP')">Purchase Information</th>
                            <th scope="col" (click)="sort('VGABE')">Material</th>
                            <th scope="col" (click)="sort('BELNR')">Material Type</th>
                            <th scope="col" (click)="sort('CPUDT')">Material Group</th>
                         
                            <th scope="col" (click)="sort('CPUTM')">Net Price</th>
                            <th scope="col" (click)="sort('BWART')">Quantity </th>
                            <th scope="col" (click)="sort('BEWTP')">Serial Number</th>
                            <th scope="col" (click)="sort('BEWTP')">Description </th>
                            <th scope="col" (click)="sort('BEWTP')">Storage Location</th>
                           
                           </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of listarray | orderBy : key : reverse | paginate:{itemsPerPage:10,currentPage:p} | filter:SD_DOC" class="">
                           
                           
                            <td>{{item.PO_NUMBER}}</td>
                            <td>{{item.INFO_REC}}</td>
                            <td>{{item.MATERIAL}}</td>
                            <td>{{item.MAT_TYPE}}</td>
                            <td>{{item.MAT_GRP}}</td>
                            <td>{{item.NET_PRICE}}</td>
                            <td>{{item.QUANTITY}}</td>  
                            <td>{{item.SER_NO}}</td>
                            <td>{{item.SHORT_TEXT}}</td>
                            <td>{{item.STORE_LOC}}</td>
                           
                          </tr>
                    </tbody>
    
                   
                  </table>
                  
                  <div class="spinner-border text-danger" style="width:3rem;height:3rem;align-items: center;" role="status" [hidden]="spinner">
    
                </div>
    
                  <div class="page">
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>
                  </div>
            </ng-container>
             

        </div>
    </div>

</body>

